In [ ]:
#outline of project
#grab stock info from api

#create website that shares each stock, dropdown menu to click a specific stock and graphs and charts with that specific one

In [16]:
from apikey import API
import pandas as pd
import numpy as np
import matplotlib_inline
import requests, time, re, os
import pickle as pkl

In [3]:
#address to the api
url= "https://api.tdameritrade.com/v1/instruments"

In [7]:
#load df that has all the symbol names of stocks
df=pd.read_csv("stocks-list.csv")
df.head()

  Symbol           Company Name                        Industry    Market Cap
0      A   Agilent Technologies  Life Sciences Tools & Services  4.571910e+10
1     AA                  Alcoa                 Metals & Mining  8.869851e+09
2    AAC       Ares Acquisition              Blank Check / SPAC  1.252500e+09
3   AACG  ATA Creativity Global   Diversified Consumer Services  5.490958e+07
4   AACI   Armada Acquisition I              Blank Check / SPAC  2.068879e+08

In [9]:
#get symbol column only
symbols=df['Symbol'].values.tolist()

In [19]:
#loop to iterate through all the symbols and info
start=0
end=500
files=[]

while start < len(symbols):
    tickers=symbols[start:end]
    
    payload={'apikey': API,
        'symbol': tickers,
        'projection':'fundamental'}

    results=requests.get(url, params=payload)

    data=results.json()
    file_name='stocks_'+ time.asctime()+ '.pkl'
    file_name=re.sub('[ :]', '_', file_name)
    files.append(file_name)
    with open(file_name, 'wb') as file:
        pkl.dump(data,file)
    start=end
    end+=500
    time.sleep(1)

In [20]:
#grab only the specific key value pairs for each symbol
data=[]

for file in files:
    with open(file,'rb') as f:
        info=pkl.load(f)
    
    tickers=list(info)
    points=['symbol','netProfitMarginMRQ','peRatio','pegRatio','high52']
    for ticker in tickers:
        tick=[]
        for point in points:
            tick.append(info[ticker]['fundamental'][point])
        data.append(tick)
    
    os.remove(file)

In [21]:
#column names
columns=['symbol','Margin','PE','PEG','high52']

#add to df
df_results=pd.DataFrame(data,columns=columns)

In [23]:
df_results

     symbol    Margin         PE       PEG  high52
0      AGLE   0.00000    0.00000  0.000000    6.37
1      AEHA   0.00000    0.00000  0.000000   10.60
2      AJRD   2.49182   45.63846  0.000000   56.00
3      ADEX   0.00000  133.85830  0.000000   10.03
4      ADER   0.00000   39.34478  0.000000   10.06
...     ...       ...        ...       ...     ...
6167   XAIR   0.00000    0.00000  0.000000   14.75
6168    XEL  15.89907   22.92973  4.731145   77.66
6169   XPON   0.00000    0.00000  0.000000   11.29
6170    YOU   0.00000    0.00000  0.000000   35.08
6171    ZIM  36.11774    0.42841  0.005600   91.23

[6172 rows x 5 columns]

In [24]:
#filter for the best stocks rn
best_stocks_df=df_results[(df_results['PEG'] <1) & (df_results['PEG'] >0) & (df_results['Margin'] >20) & (df_results['PE'] >10)]
best_stocks_df

#sort this list by best WHAT to get the best stocks at the top

     symbol     Margin        PE       PEG   high52
21     ABBV   26.68107  21.47180  0.272895  175.910
93      ADI   28.82721  32.61579  0.758331  188.195
157     AHH   34.51172  15.03415  0.046241   15.800
174    AAIC   21.81737  46.36974  0.321827    3.740
192    AMAT   23.57386  14.73606  0.922576  167.060
...     ...        ...       ...       ...      ...
6053   YNDX   34.19944  14.35695  0.037012   73.580
6061    ZTO   21.33960  22.53026  0.431540   32.670
6102    WPM   89.77499  22.18811  0.795293   51.905
6140     WT  112.17310  11.10380  0.032227    6.600
6162     XP   28.48066  13.70215  0.729182   36.360

[209 rows x 5 columns]

In [25]:
#def view as listing the top amount of stocks you want 
def view(size):
    start=0
    end=size
    while end < len(best_stocks_df):
        print(best_stocks_df[start:end])
        start=end
        end += size
    print(best_stocks_df[start:end])

In [26]:
#check code
view(10)

    symbol    Margin        PE       PEG    high52
21    ABBV  26.68107  21.47180  0.272895  175.9100
93     ADI  28.82721  32.61579  0.758331  188.1950
157    AHH  34.51172  15.03415  0.046241   15.8000
174   AAIC  21.81737  46.36974  0.321827    3.7400
192   AMAT  23.57386  14.73606  0.922576  167.0600
198   AMAL  31.58982  11.45943  0.260611   27.3300
205   ACMR  20.24995  18.58805  0.589605   30.5300
208   ABMD  39.91148  64.93067  0.822962  381.9900
221    ALB  32.14076  21.07861  0.035269  334.5499
229   ANET  30.08147  37.95423  0.773727  148.5700
    symbol     Margin        PE       PEG   high52
235   ABNB   42.09831  42.61551  0.320050  191.730
239    ALX   28.12075  10.44354  0.166387  274.460
323   AMGN   32.21587  22.94583  0.803623  296.670
352   ALGM   21.31058  50.16512  0.593709   38.281
579   BIPC   72.90749  20.01084  0.119865   53.640
594   BFIN   21.17825  13.76115  0.360142   11.270
624    BHB   27.97669  10.96845  0.257579   31.950
674   CAAP   21.52494  17.91836  0.136309    9.570
716   BEPC  114.04210  28.49777  0.255825   44.410
785    BRX   26.16647  21.31298  0.404839   27.190
    symbol    Margin        PE       PEG   high52
792    BSM  77.84308  10.13749  0.017717   20.240
797   BANC  28.43611  10.67531  0.435749   22.010
809   BROG  47.56029  37.22379  0.305132    9.950
836    ASR  42.54898  15.13144  0.136348  251.020
863    BWB  40.90243  11.56621  0.432342   20.205
875    AVB  74.34855  19.92888  0.922139  259.050
883    BXP  53.21300  12.42407  0.067405  133.110
893   ASYS  51.20216  11.13452  0.008856   13.450
896    AWK  27.44917  20.95623  0.286000  189.650
960   BMRC  34.05315  13.20753  0.766523   39.650
     symbol     Margin        PE       PEG    high52
972    BIIB   45.24218  15.54806  0.168882   311.880
974    AVGO   36.31853  24.00239  0.342524   677.760
979    BKNG   27.52809  34.14425  0.058944  2715.660
989     BAP   26.19576  10.15563  0.226339   182.110
1013   CHGG  152.70340  15.14183  0.003247    37.640
1046     CD   20.04119  28.76981  0.077889    10.235
1073    CHH   24.88256  20.19037  0.428503   157.460
1170    CNS   28.30562  16.09690  0.387322    94.400
1232    CRT   97.74926  13.03394  0.178636    25.330
1245    CSX   28.52375  17.38488  0.941737    38.630
     symbol    Margin        PE       PEG  high52
1279    CUZ  41.05908  12.75296  0.084263   42.41
1303   CALB  27.82284  12.58588  0.340374   25.20
1344   CAMT  25.26528  16.42690  0.850924   48.60
1377   CARR  24.43588  10.70974  0.162571   57.69
1420   CPRX  39.73866  27.58133  0.489032   18.39
1427   CATY  47.74957  10.32442  0.481020   48.88
1502   EPRT  51.78240  23.67377  0.410736   29.60
1606    DLR  20.03141  23.01546  0.216140  178.22
1618    EOG  37.48358  11.14695  0.076242  150.88
1638    EPR  31.47203  20.24039  0.013799   56.38
     symbol     Margin        PE       PEG    high52
1648    DOC   50.39806  28.09454  0.525820   19.1200
1693    ESQ   35.08349  14.01627  0.212245   48.1336
1746    DTM   49.36170  15.73138  0.551808   61.1200
1777   DOCS   25.73665  51.78876  0.419225   68.9400
1828   EFSC   37.53439  10.35103  0.245272   54.3100
1892    EBC   28.01434  17.08694  0.121133   22.3500
1905   ESSA   30.47071  10.40127  0.423640   21.7950
1954    EEX  149.03850  22.83675  0.210198    4.5500
1986    EGP   30.09518  29.58299  0.416790  229.8400
1999    GLG   29.00520  15.36540  0.078672    2.6650
     symbol    Margin        PE       PEG    high52
2053    FLT  27.87066  16.14176  0.634077  265.2950
2101  FCNCA  25.65147  12.97515  0.953967  947.7100
2115     FR  90.78517  17.03064  0.284517   66.7350
2143    FRC  29.21865  15.20300  0.968605  217.2700
2150    FRO  40.40938  11.80558  0.017431   14.7450
2156    FRT  24.41016  31.95899  0.421516  140.5100
2159   FVCB  38.90945  10.96585  0.399130   21.9000
2218   GMRE  28.32571  39.31032  0.592263   18.5100
2252    EXP  22.97180  12.51535  0.381796  169.1548
2256    EXR  47.32913  23.33135  0.832553  228.8350
     symbol    Margin        PE       PEG   high52
2366   FMAO  34.02622  11.36508  0.453809  42.1350
2442   GMAB  63.17592  38.79560  0.400087  46.5700
2503   ICMB  26.31578  59.02673  0.393816   5.7333
2509   HRMY  75.03285  23.41039  0.019489  61.5498
2522   HESM  47.61051  15.31971  0.631595  35.7100
2530    HPK  52.86458  14.06856  0.013074  38.2100
2590   IRMD  25.56151  28.64119  0.195933  55.9200
2687   INMD  40.24432  18.59224  0.967173  81.6800
2787    IBN  24.27482  23.06853  0.594273  23.7500
2804   INSW  47.89405  15.79098  0.112536  48.1241
     symbol    Margin        PE       PEG    high52
2813   HTBI  21.93895  11.66930  0.150243   32.6000
2816   HTBK  35.55350  14.50903  0.472494   14.8700
2827   HBAN  31.38801  12.03527  0.308017   17.7900
2866    IEX  21.68689  31.41036  0.919598  240.3300
2891    IGT  27.73585  13.92925  0.055436   30.8400
2994   LSCC  26.87338  65.89996  0.748942   81.4700
3010   LSBK  25.25310  11.47725  0.780394   15.2500
3030   LRCX  28.10101  13.54673  0.763002  731.8492
3062   LTHM  33.50604  28.54288  0.018030   36.3800
3090   LADR  23.93588  12.66603  0.023622   12.6950
     symbol     Margin         PE       PEG  high52
3119    MAA   24.07183   30.45466  0.669070  231.63
3129   MCHP   26.34575   24.15699  0.169747   90.00
3141   LCNB   29.32457   10.02765  0.997989   20.39
3158   KLAC   37.66172   17.75954  0.700766  457.12
3245   KEYS   20.72072   29.25640  0.999719  209.08
3259   LAMR   27.71915   20.53484  0.635317  124.32
3298   KIDS   53.04435  113.49040  0.911559   62.61
3307   MCRI   20.55905   19.52923  0.621225   94.26
3423   LNTH   25.58882   41.68849  0.106536   87.47
3426  LBRDA  127.01610   10.15966  0.059730  164.00
     symbol     Margin        PE       PEG  high52
3433  LBRDK  127.01610  10.15966  0.059730  164.82
3441   LMST   38.39498  11.81486  0.829927   26.00
3450  MARPS   86.99642  10.22753  0.028478   32.00
3457    LSI   36.90878  26.72292  0.632932  154.45
3464    LTC   30.77719  16.71901  0.314896   45.49
3470    KRP   60.12524  11.60501  0.060103   20.08
3516   NVEC   56.82471  17.58225  0.776551   72.42
3527   NTAP   45.09922  10.25032  0.170631   96.82
3579   NTES   27.10552  15.53974  0.191815  114.66
3588   NKSH   42.37381  10.82203  0.777972   40.00
     symbol     Margin        PE       PEG  high52
3622   NVMI   24.37355  21.41584  0.537279  149.15
3636    NEE   23.20286  43.73599  0.783277   93.73
3641    NEP   76.82119  15.67539  0.184530   87.72
3656    NFG   36.34229  10.77764  0.196200   75.97
3671     MP   50.76701  23.47882  0.078401   60.19
3710    NHC   40.02538  29.36801  0.017975   75.35
3753   MGYR   30.16760  11.00529  0.737237   13.45
3755   MTSI  134.35050  11.12490  0.010453   80.30
3822   NTRS   20.06607  12.68620  0.811813  135.15
3827    MMM   44.79638  10.97823  0.887005  181.78
     symbol    Margin        PE       PEG  high52
3833   NDSN  21.41746  28.66525  0.851725  271.90
3835    MMX  25.91376  50.88000  0.029610    5.45
3867   MSVB  22.30937  18.72891  0.460449   15.44
3883    NRT  96.62230  12.36531  0.041493   20.72
3911    MRK  21.74611  18.24311  0.114268  110.33
3950    MTR  89.51954  10.83554  0.025002   28.00
3962   MPWR  25.09739  47.14310  0.573066  573.60
3977   MNRL  47.17640  14.59358  0.001370   36.49
3991   MNTK  20.02685  49.49561  0.089215   20.78
4021    PAC  39.43562  17.68937  0.176641  176.00
     symbol    Margin        PE       PEG  high52
4026   OLPX  34.43560  14.76919  0.332250   30.41
4035   OFED  28.54402  27.49307  0.904644   27.00
4045    PBT  99.49988  22.84919  0.066183   23.08
4056   ONTO  20.53663  19.57366  0.259368  106.09
4063    PDD  29.82335  29.03896  0.008819   84.27
4084   PEAK  69.10162  27.85823  0.042068   36.85
4108    PGC  32.50953  11.19072  0.188161   42.19
4114   POWI  28.68573  25.25314  0.852250  104.73
4125    PHI  20.77892  10.44882  0.213253   39.00
4137    PHX  43.44269  17.48184  0.084602    4.98
     symbol     Margin        PE       PEG  high52
4141   NXPI   21.88679  17.52091  0.223387  239.91
4157   ODFL   23.53329  25.91218  0.584404  373.58
4199    PLD   61.06453  21.81805  0.209314  174.54
4259   PBFS   28.32404  20.86219  0.016629   12.73
4298   OMAB   35.01579  17.07238  0.206276   71.86
4318    PRK   34.00151  15.70342  0.255766  151.33
4337    PSA  255.31410  12.10974  0.062398  421.76
4413   PLAB   22.37984  11.31263  0.077013   25.81
4462   PCSB   30.51757  17.76521  0.759848   20.09
4553    RDY   22.77102  25.62489  0.349511   65.86
     symbol    Margin        PE       PEG   high52
4565    REG  29.22704  25.06329  0.692426   78.780
4650    RLI  51.18046  10.23082  0.087772  134.805
4658    RLX  48.37499  10.13123  0.161228    4.930
4664    RMD  22.14872  43.05226  0.754091  268.770
4731    RRR  23.03162  14.22829  0.052325   55.840
4742   SEAS  23.80668  12.95555  0.082777   76.570
4754   PWOD  29.80414  10.26423  0.566942   26.250
4792    QSR  30.70684  21.56363  0.793904   68.540
4808   RRBI  36.43713  10.74433  0.832558   60.570
4859   RACE  34.34071  41.12000  0.613685  271.950
     symbol     Margin        PE       PEG   high52
4869    PVL   87.59469  10.20528  0.004045    5.790
4902   QCOM   25.65160  11.07258  0.245491  193.580
4906   PTRS   25.17995  14.22303  0.270057   10.620
4910   SELF   30.12756  18.33609  0.850493    7.360
4920   SCHW   34.05834  25.05654  0.989724   96.240
4937   SAFE  105.15370  13.22279  0.172400   80.660
4970    SBR   97.58806  10.39349  0.059800   90.730
4972   RMBI   27.00170  11.69517  0.639090   18.160
5103    SIX   27.36658  21.10862  0.153908   47.240
5112    TLK   22.69755  15.96019  0.878415   33.205
     symbol    Margin         PE       PEG    high52
5133   SSTI  21.48069  105.10970  0.278997   39.2770
5135    TMP  31.01867   13.99328  0.316368   86.4200
5140    SKT  20.00072   27.00714  0.014258   21.2100
5152    TNK  24.35806   27.45344  0.238621   35.4350
5236   SWAV  26.65271  107.79470  0.343264  320.5400
5238    SRC  41.90176   21.92741  0.436002   49.9400
5273    STM  25.48021   10.55971  0.121984   51.5150
5274    STR  59.75134   26.56067  0.171127   32.8499
5327   SMTC  24.52187   12.51425  0.160830   92.1500
5361   TECH  33.27734   47.62198  0.733499  130.7400
     symbol    Margin        PE       PEG     high52
5394   TGLS  23.25404  11.46358  0.141899    34.0800
5420   SITC  47.68912  15.50626  0.046707    17.2200
5487   STNG  54.31983  10.52241  0.052680    54.2400
5550   UFPT  20.15056  25.08164  0.216603   120.4900
5567   TRNO  31.69306  25.82725  0.195422    86.0000
5573   WABC  48.18876  15.90753  0.900901    63.8600
5598    UNP  28.86080  19.38784  0.970212   278.9400
5636   WAFD  39.01893  10.40496  0.254356    39.1743
5664    TPL  67.93800  47.10735  0.581281  2739.0000
5680   TRST  37.11072  10.55188  0.525216    39.3600
     symbol    Margin        PE       PEG  high52
5685    TRC  32.32089  30.21334  0.036738   19.69
5699    TRP  22.90076  18.39200  0.262648   59.38
5723    TSM  45.82431  14.94690  0.272955  145.00
5763   VBTX  37.98143  11.65396  0.721627   43.33
5769   VRSK  25.42600  28.52622  0.564645  230.79
5770   VRSN  47.49229  26.57062  0.685888  257.03
5775    TXN  43.78935  18.89891  0.837588  199.90
5782   VRTX  39.86206  24.97113  0.481064  323.61
5818   VNOM  94.80410  14.86004  0.007862   36.10
5836     WH  24.81572  19.38887  0.217231   93.86
     symbol     Margin        PE       PEG   high52
5885    WES   32.66374  10.22052  0.433944   29.500
5930    WHD   22.50638  35.16133  0.261170   64.180
5966   UTHR   46.37597  19.04385  0.388533  280.270
6031    WMB   20.55611  21.20495  0.217215   37.970
6053   YNDX   34.19944  14.35695  0.037012   73.580
6061    ZTO   21.33960  22.53026  0.431540   32.670
6102    WPM   89.77499  22.18811  0.795293   51.905
6140     WT  112.17310  11.10380  0.032227    6.600
6162     XP   28.48066  13.70215  0.729182   36.360

In [30]:
#add industry name to the stocks
df_symbols= best_stocks_df['symbol'].tolist()
bools=df['Symbol'].isin(df_symbols)
industry=df[bools]
industry

,Symbol,Company Name,Industry,Market Cap
6,AAIC,Arlington Asset Investment,Mortgage Real Estate Investment Trust...,8.623477e+07
22,ABBV,AbbVie,Biotechnology,2.850440e+11
33,ABMD,Abiomed,Health Care Equipment & Supplies,1.700975e+10
34,ABNB,Airbnb,"Hotels, Restaurants & Leisure",6.467270e+10
72,ACMR,ACM Research,Semiconductors & Semiconductor Equipment,5.387103e+08
...,...,...,...,...
6024,WPM,Wheaton Precious Metals,Metals & Mining,1.704195e+10
6043,WT,WisdomTree,Asset Management,8.161109e+08
6091,XP,XP Inc.,Capital Markets,9.810748e+09
6123,YNDX,Yandex,Interactive Media & Services,6.797282e+09
6171,ZTO,ZTO Express (Cayman),Air Freight & Logistics,2.070531e+10